bin
obj
vendor/include
flair.xcodeproj
flair.xcworkspace
tests.xcodeproj
reference.xcodeproj
flair.sln
flair.vcxproj*
tests.vcxproj*
reference.vcxproj*
*.sdf
*.opensdf
*.suo
*.VC.db
*.VC.opendb
Makefile
*.make
