[submodule "vendor/googletest"]
	path = vendor/googletest
	url = git://github.com/flair/googletest
[submodule "vendor/libuv"]
	path = vendor/libuv
	url = https://github.com/libuv/libuv.git
[submodule "vendor/sdl"]
	path = vendor/sdl
	url = https://github.com/spurious/SDL-mirror.git
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://thejustinwalsh@github.com/flair/zlib.git
